@import 'styles/base/variables.scss';

.password-requirements {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  .requirement {
    color: $brand-color-1;
    font-size: 0.85rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;

    span {
      color: $brand-color-1;
      width: 6px;
      height: 6px;
      margin-left: 0.175rem;
      margin-right: 0.65em;
    }

    &.success {
      color: $brand-color-1;
      font-weight: 500;

      span {
        color: $brand-color-2;
        width: 10px;
        height: 10px;
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }
}
