@import 'styles/base/variables.scss';

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation-name: modalOpen;
  animation-duration: 0.2s;

  .modal-content {
    width: 90%;
    background-color: white;
    border-radius: $border-radius * 2;
    box-shadow: $box-shadow;
    position: relative;
    outline: none;
    display: flex;
    flex-direction: column;
    animation-name: modalContentOpen;
    animation-duration: 0.2s;
    padding: 2.35em 2em;
    // To remedy text shift during transform animation
    transform: perspective(1px) translateZ(0);
    backface-visibility: hidden;
    will-change: auto;
    overflow: auto;
    max-height: 90vh;

    &.small {
      max-width: 500px;
    }

    .close {
      display: block;
      width: 18px;
      height: 18px;
      text-indent: -9999px;
      background: url(/images/controls/close.svg) no-repeat center center;
      background-size: cover;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }

    h2 {
      margin-bottom: 1.5em;
    }

    hr {
      margin-bottom: 1.5em;
    }

    .actions {
      margin-top: 1.5em;

      &.top-border {
        border-top: solid 1px $border-color;
        padding-top: 1.5em;
      }

      &.full-width {
        width: calc(100% + 4em);
        margin-left: -2em;
        margin-bottom: -1em;
        padding-left: 2em;
        padding-right: 2em;
      }

      &.centered {
        display: flex;
        justify-content: center;

        button + button {
          margin-left: 2em;
        }
      }
    }
  }
}

// Modals
@keyframes modalOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes modalContentOpen {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
