@import 'styles/base/variables.scss';

.modal {
  border: none;
  position: relative;
  border-radius: $border-radius * 2;
  box-shadow: $box-shadow;
  background: white;
  padding: 2em;
  transform: translateY(-5px);
  transition: transform 0.2s linear;
  max-height: 100%;
  overflow: auto;
  max-width: 1000px;
}

:global(.open) .modal {
  transform: translateY(0);
}

.modal-backdrop {
  padding: 1em;
  @media #{$phone} { padding: 1em 0; }
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;

  &:global(.open) {
    opacity: 1;
    left: 0;
    right: 0;
    pointer-events: auto;
  }
}

.modal button.close {
  display: block;
  width: 18px;
  height: 18px;
  text-indent: -9999px;
  background: url(/images/controls/close.svg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal.has-close {
  padding: 3em 1em 1em 1em;
}
